<section id="Home">
    <div id="Home-column">
        <div id="pad-15">
            <div id="storeDiv">
                <h1 id="title">Store's</h1>
                {{#each stores}}
                <div id="storeDetails">
                    <div id="store-info">
                        <h1>Store: <a href="https://www.{{url}}">{{name}}</a></h1>
                        <h2>District: {{district}}</h2>
                    </div>
                </div> 
                {{/each}}
            </div>  
        </div>
    </div>
</section>