<section id="login">
        <div id="login-column">
            <form action="/auth" method="post">
                <div id="text-area">
                    <input type="username" placeholder="username" required name="username">
                    <input type="password" placeholder="Password" required name="password">
                </div>
                <div id="login-btn">
                    <Button type="submit">Login</Button>
                </div>
            </form>
        </div>
    </section>