<section id="login">
        <div id="login-column">
            <form action="" method="post">
                <div id="text-area">
                    <input type="email" placeholder="Email" required>
                    <input type="password" placeholder="Password" required>
                </div>
                <div id="login-btn">
                    <Button type="submit">Login</Button>
                </div>
            </form>
        </div>
    </section>