<section id="login">
        <div id="login-column">
            <form action="" method="post">
                <div id="text-area">
                    <input type="email" placeholder="Email" required>
                    <input type="password" placeholder="Password" required>
                    <input type="password" placeholder="Confirm Password" required>
                </div>
                <div id="useragrement">
                    <a href="https://youtube.com/shorts/SXHMnicI6Pg?si=NF-MNvDLm36-p4Zr">Agrement</a>
                    <label>
                        <input type="checkbox" checked="checked" > Agree to 
                    </label>
                </div>
                <div id="login-btn">
                    <Button type="submit">Register</Button>
                </div>
            </form>
        </div>
    </section>